@model HahaFunnyJokes.Domain.Category;

@{
    
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Update Category</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-action="Edit">
                
                <div class="form-group">
                    <label asp-for="@Model.Name">Name</label>
                    <input asp-for="@Model.Name" class="form-control"/>
                </div>

                <div>
                    <input type="submit" name="submit" value="Update" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>