@model HahaFunnyJokes.Domain.ViewModels.Admin.CategoryViewModel;

@{
}

<div>Categories List</div>
@if (@Model.categories.Any())
{
@foreach (var category in @Model.categories)
 {
     <div>@category.Name</div>
 }
}
else
{
    <div class="alert alert-danger">No Categories. Add One</div>
    <div><a asp-area="Admin" asp-controller="Category" asp-action="Create">Add Category</a></div>
}