@model HahaFunnyJokes.Domain.ViewModels.Admin.CategoryViewModel;

@{
}

<div>Categories List</div>
@if (@Model.categories.Count > 0)
{
@foreach (var category in @Model.categories)
 {
     <div>@category.Name</div>
 }
}
else
{
    <div class="alert alert-danger">No Categories. Add One</div>
    <div><a asp-action="Add">Add Category</a></div>
}
